language: rust
cache: cargo
sudo: required
dist: trusty
addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev

rust:
- stable
- beta
- nightly

before_script:
- |
  pip install 'travis-cargo<0.2' --user &&
  cargo uninstall semantic-rs ;
  cargo install --git https://github.com/semantic-rs/semantic-rs --debug &&
  export PATH=$HOME/.cargo/bin:$PATH &&
  export RUST_BACKTRACE=1 &&
  git config --global user.name semantic-rs &&
  git config --global user.email semantic@rs

script:
- |
  travis-cargo build &&
  travis-cargo test &&
  travis-cargo --only stable doc

after_success:
- |
  RUST_LOG=debug semantic-rs

env:
  global:
  - TRAVIS_CARGO_NIGHTLY_FEATURE=""
  - secure: "AQTT6qOldyg/PkS/mXwhbTcrlGI9q0no5Ucgd4P2ndpRr3GWwPx4ZppOHHO65HKxQMtmWOp1+sUsyVsekiOitB9TtmmVWEMotzTmmH0KIoZ6EzH9M3X/qOe1vEeHDkWceO8VpFOBbnwQb+q8FBgzCnmo+lypLrbHjqtiVKe41HDusP7lqGo+1yWhzg3IGWhbHBYIJ/v5pMNwLW7xbJgVsoLAucklPv4n/eWPP8FR7KculDKWxKNJCJ9Xa+/Bdq8sPI7zhnv+CzxuTozim49elUvugH+G7QleVtbrnIklnc71Bvne3MN7LJL8yr0p+F+HrdqAKsNQhjVd0CQfTa3r2OVLAz30mt7lPBS8kYY2/zDM3eMP4gGTH3jXg5NT3qOcKdc9yzDov0/lTaRlPEBTepdCeBN8oPpXNXV+CMSGE1Qi3xlLuU6UUW+LKZRSSlPA/u4IDLdxRdZ+qbIDvWnjAcBt9jd10PfYtxRhPwwCH0ODA2l3EMBNBcHrR8Ss84yazYnP+5c0fZ6gmgRXCGjCS88mXJnCZWlu2xXscd7wvZwKXCHB0f2bLfqKLuKIZs/EQc+VX8iiekEfEN6AIdb+fxd2YR5TWRK9Zlr9tdRNBCXA95MgQ9nRe+HJh7zV3jwIjCzHF7dBcw5lH8GFA3FmYX1xiCXMcH3HWdGkhAVOMvU="
  - secure: "JmO3fOavkOMn0JnpiS8v6HaW/R+u/npFYMB2NrB8emL7/y5BvTEbYRv+faXcVcVmW1p+AkJxiawaDl7q2WD34JVEE4IWsIVHTjqRj8NJE70miOt36dIR0Fuwl1wNUcYMqNAlzkOaHrajrJ1AYO/HtzZXN8NDtlKgaFwxmJFRURuygQAYFAHW0qR1oyaYEtENU4xumn9i2tlYMln3YAc/aMfy3IcgBcgmfw2M34MCypifrf/OOvpoFbwSVdTT0wwD5rD95YF8qC/X7gCF4YIwH5DQPLw6NJaKeCEkwzlxfwFOKN3/rJt1bMK2bPP9x/LkeRM12jjUQkTWH/iTMtlEQ2oE4nUC3CbexX+hKYNpW7GT21W+q6gfxnsKTSGfbmSWjfYWOHFmcTtCksVsNj7PnbaCxTNPl2xhSOLiPPyWl+nJ1/NUiebUUosl+GCNOmcN1MR4ii57UubnjfNTjmKdx+sIyPgF0CGlJc+CLiDAFIQwVE1fbykaKJXdyISGTHeLBCnmCm0mM3bqyuXgsCqK61PxmR3fPouJ16TJ8/8gswXhg2r+Uoq45nycwbHgwcLnN7aSBlbuRbhx3xr+SUf6Vw5vwEhxXiMGZN9E5pvTMznDedPZtyHGcgXI/A0bif1Kr25IK3+d2a2yyp+EWcDQ2toNqLMjEJ0Q6C+CwF+f/I4="

notifications:
  email: false
